.searchForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__selects {
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            width: 100%;
            justify-content: space-around;
        }
    }
}