.searchSection {
    background: no-repeat url("../../assets/img/searchSection/searchSection_bg.jpg");
    background-size: cover;
    background-position: center;

    &__title {
        text-align: center;
        padding: 3% 0;
        font-size: 4rem;
        color: white;
        font-weight: bold;

        @media (max-width: 1024px) {
            font-size: 3rem;
        }

        @media (max-width: 750px) {
            font-size: 2.5rem;
        }
    }
}
