.book {
    flex: 0 1 20%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    transition: .35s ease;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(233, 233, 233);


    &:hover {
        box-shadow: 0 0 20px rgb(206, 206, 206);
        cursor: pointer;
    }
    
    &__cover {
        width: 200px;
        height: 300px;
        margin: 10% auto;
        box-shadow: 10px 10px 5px rgb(199, 199, 199);

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__description {
        flex: 1 1 auto;
        padding: 5%;
        display: flex;
        flex-direction: column;

        &_item {
            font-size: 20px;
            color: lightgrey;
        }

        &_ctgry {
            text-decoration: underline;
        }

        &_title {
            font-weight: bold;
            color: black;
            padding: 3% 0;
            overflow: hidden;
            flex: 1 1 auto;
        }
    }
}
